<footer class="u-clearfix u-footer u-grey-80" id="sec-69cd">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <a href="#" class="u-image u-logo u-image-1">
      <img src="./images/logo white.png" class="u-logo-image u-logo-image-1" />
    </a>
    <nav
      class="u-menu u-menu-dropdown u-offcanvas u-menu-1 u-enable-responsive"
    >
      <div class="menu-collapse">
        <a class="u-button-style u-nav-link" href="#">
          <svg class="u-svg-link" viewBox="0 0 24 24">
            <use xlink:href="#menu-hamburger"></use>
          </svg>
          <svg
            class="u-svg-content"
            version="1.1"
            id="menu-hamburger"
            viewBox="0 0 16 16"
            x="0px"
            y="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g>
              <rect y="1" width="16" height="2"></rect>
              <rect y="7" width="16" height="2"></rect>
              <rect y="13" width="16" height="2"></rect>
            </g>
          </svg>
        </a>
      </div>
      <div class="u-nav-container">
        <ul class="u-nav u-unstyled">
          <li class="u-nav-item">
            <a
              class="u-button-style u-nav-link"
              href="#"
              data-page-id="94739"
            >Page 1</a>
          </li>
          <li class="u-nav-item">
            <a
              class="u-button-style u-nav-link"
              href="#"
              data-page-id="94745"
            >Page 2</a>
          </li>
          <li class="u-nav-item">
            <a
              class="u-button-style u-nav-link"
              href="#"
              data-page-id="94763"
            >Page 3</a>
          </li>
          <li class="u-nav-item">
            <a
              class="u-button-style u-nav-link active"
              href="#"
              data-page-id="247914"
            >Page 4</a>
          </li>
          <li class="u-nav-item">
            <a
              class="u-button-style u-nav-link"
              href="#"
              data-page-id="247939"
            >Page 5</a>
          </li>
          <li class="u-nav-item">
            <a
              class="u-button-style u-nav-link"
              href="#"
              data-page-id="247945"
            >Page 6</a>
          </li>
          <li class="u-nav-item">
            <a
              class="u-button-style u-nav-link"
              href="#"
              data-page-id="248020"
            >Page 7</a>
          </li>
        </ul>
      </div>
      <div class="u-nav-container-collapse">
        <div
          class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav"
        >
          <div class="u-inner-container-layout u-sidenav-overflow">
            <div class="u-menu-close"></div>
            <ul
              class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"
            >
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="#"
                  data-page-id="94739"
                >Page 1</a>
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="#"
                  data-page-id="94745"
                >Page 2</a>
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="#"
                  data-page-id="94763"
                >Page 3</a>
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link active"
                  href="#"
                  data-page-id="247914"
                >Page 4</a>
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="#l"
                  data-page-id="247939"
                >Page 5</a>
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="#"
                  data-page-id="247945"
                >Page 6</a>
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="@"
                  data-page-id="248020"
                >Page 7</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
      </div>
      <style class="offcanvas-style">
        .u-offcanvas .u-sidenav { flex-basis: 250px !important; }
        .u-offcanvas:not(.u-menu-open-right) .u-sidenav { margin-left: -250px; }
        .u-offcanvas.u-menu-open-right .u-sidenav { margin-right: -250px; }
        @keyframes menu-shift-left { from { left: 0; } to { left: 250px; } }
        @keyframes menu-unshift-left { from { left: 250px; } to { left: 0; } }
        @keyframes menu-shift-right { from { right: 0; } to { right: 250px; } }
        @keyframes menu-unshift-right { from { right: 250px; } to { right: 0; }
        }
      </style>
    </nav>
  </div>
</footer>