<div class="sidebar">
  <div class="logo_icon">
    <img src="./images/logo white.png" alt="" />

  </div>
  <ul class="dash_list">
    <div class="list_menu">
      <li class="dash_list_item">
        <i class="fa-regular fa-bell i">
          <i class="dot"></i>
        </i>
        <span>Downloads</span>
      </li>

      <ul class="list_menus">
        <a href="/upload">
          <li class="list_menu_item">Upload Media</li>
        </a>
         <a href="/all">
          <li class="list_menu_item">Galerey</li>
        </a>
      </ul>

    </div>

  </ul>
</div>